.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2vw 0px 0px;

  animation: fadeInRight 1s ease-in-out;

}
.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  width: 58vw;
}
.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 1vw;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 2.2vw;
  padding-right: 22vw;
  text-align: left;
}

@media (max-width: 600px) {
  .text {
    font-size: 7px;
    line-height: 10px;
    padding-right: 29px;

  }
}

.profile-img {
  height: 25vw;

  background: url("../static/profile.png");
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 10px;
}
