
.about-section {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 1vw;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 2.2vw;
  padding-right: 22vw;
  text-align: left;
}

@media (max-width: 600px) {
  .text {
    font-size: 7px;
    line-height: 10px;
    padding-right: 29px;

  }
}

.profile-img {
  width: 18vw;
  height: 5vh;
  background: url("../static/profile.png");
  object-fit: cover;
  border-radius: 15px;
}