.icons {
    display: inline-flex;
    gap: 9rem;
}

.contact {
    display: flex;
    justify-content: center;
}

.icon {
    font-size: 2rem;
}

@media (max-width: 600px) {
    .icon {
        font-size: 10px;
    }

    .icons {
        gap: 10px;
    }
}