.contact-adj {
    justify-content: center;
    padding-bottom: 2vw;
    outline: none;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15vw;
}

.icon {
    color: black;
    font-size: 2vw;
}

@media (max-width: 600px) {
    .icon {
        font-size: 10px;
    }

    .icons {
        gap: 10px;
    }
}