.icons {
    display: inline-flex;
    gap: 9rem;
}

.contact {
    margin: 0 auto;
    width: 50%;
}

.icon {
    font-size: 2rem;
}

@media (max-width: 600px) {
    .icon {
        font-size: 10px;
    }

    .icons {
        gap: 10px;
    }
}