.experience {
    display: flex;
}

.img-exp {
    height: 21vw;
}

.subtitles {
    padding-left: 7.2vw;
    text-align: left;
    padding-bottom: 1.2vw;
}

.weight {
    font-weight: 600;
}

.job-title {
    font-size: 2.2vw;
}

.date-title {
    font-size: 1.5vw;
}

.info {
    padding-right: 9vw;
    font-size: 1.4vw;
}

@media (max-width: 600px) {
    .job-title {
        font-size: 9px;
    }

    .date-title {
        font-size: 6px;
    }

    .info {
        font-size: 5px;
    }
}