.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.font-design { 
  font-style: normal;
  line-height: 3.5vw;
  font-weight: 450;
}

.main-color {
  color: #D9D5D2;
}

.secondary-color {
  color: #8C5D58;
}

.tertiary-color {
  color: #BFBCBA;
}

.bg-img {
  height: 36vw;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.big-main-text {
  font-size: 3vw;
}

.med-main-text {
  font-size: 2vw;
}

.sub-small-main-text { 
  font-size: 1.5vw;
}

@media (max-width: 600px) {
  .main-text {
    font-size: 4vw;
  }

  .main {
    padding-left: 24%;
  }
}
