.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12.5vw;
  padding-left: 22vw;
  gap: 2px;
}

.bg-img {
  height: 36vw;
  width: 100vw;
  background-image: url("../static/toronto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-text {
  font-style: normal;
  font-weight: 550;
  font-size: 4vw;
  line-height: 5vw;
  color: white;
}
