.menubar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 42vw;
  padding-top: 0.5vw;
  width: 68vw;

  font-size: 1.2vw;
  font-weight: 200;
}

@media (max-width: 300px) {
 .menubar {
  
 } 
}

.logo {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.web-info {
  display: flex;
  justify-content: space-between;
  width: 41vw;

  flex: none;
  order: 1;
  flex-grow: 0;
}
