.menubar {
  width: 100%;
}

.logo {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.web-info {
  display: flex;
  justify-content: space-between;
  width: 41vw;

  flex: none;
  order: 1;
  flex-grow: 0;
}
