.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 8vw 8vw;
  gap: 2vw;

  display: flex;
  background-color: #262626;
}

.line-break {
  width: 11vw;
  margin-left: 1vw;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 3.2vw;
  line-height: 4vw;
  display: flex;
}

@media (max-width: 600px) {
  .header {
    font-size: 18px;
  }
}

a {
  text-decoration-line: none;
}
