.App {
  display: grid;
  font-family: "Montserrat", sans-serif;

  padding: 1vw 8vw 8vw;
  gap: 2vw;

  background-color: #262626;
}
/* Placement of each component via grid. */
.main {
  
}

.about {
  
}

.projects {

}

.experience {

}

.contact {

}

.header {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
}

@media (max-width: 600px) {
  .header {
    font-size: 18px;
  }
}

a {
  text-decoration-line: none;
}
